Repository ihhub/penguinV, pull requests merged in 2018-11, with the labels that each got.

#240 Issue #225: fix unit tests makefile
  test/unit_tests/Makefile
Labels: makefile

#233 Include BinaryDilate and BinaryErode functions in unit tests
  test/unit_tests/unit_test_image_function.cpp
Labels: unit tests

#242 Function pool redesign
  examples/function_pool/README.md
  examples/function_pool/example_function_pool.vcxproj
  examples/function_pool/makefile
  examples/thread_pool/example_thread_pool.cpp
  src/function_pool.cpp
  src/function_pool_task.cpp
  src/function_pool_task.h
  src/thread_pool.cpp
  src/thread_pool.h
  test/performance_tests/CMakeLists.txt
  test/performance_tests/Makefile
  test/performance_tests/performance_test_image_function.cpp
  test/performance_tests/performance_tests.vcxproj
  test/unit_tests/CMakeLists.txt
  test/unit_tests/Makefile
  test/unit_tests/unit_test_image_function.cpp
  test/unit_tests/unit_tests.vcxproj
Labels: enhancement

#215 Add notes on Windows to python README.md
  src/python/README.md
Labels: Python, documentation

#248 Add AVX2.0 implementation of ProjectionProfile function
  src/image_function_simd.cpp
  src/image_function_simd.h
  test/performance_tests/performance_test_image_function.cpp
  test/unit_tests/unit_test_image_function.cpp
Labels: performance tests, simd, unit tests

#252 Simplify unit test cmake file with environment variable support
  .travis.yml
  appveyor.yml
  test/unit_tests/CMakeLists.txt
Labels: AppVeyor, Travis-CI, cmake, unit tests

#254 Projection profile for SSE4.2
  src/image_function_simd.cpp
  test/performance_tests/performance_test_image_function.cpp
  test/unit_tests/unit_test_image_function.cpp
Labels: performance tests, simd, unit tests

#258 Add gradient based edge detection
  src/edge_detection.cpp
  src/edge_detection.h
  test/unit_tests/CMakeLists.txt
  test/unit_tests/Makefile
  test/unit_tests/unit_test_edge_detection.cpp
  test/unit_tests/unit_test_edge_detection.h
  test/unit_tests/unit_tests.cpp
  test/unit_tests/unit_tests.vcxproj
Labels: New feature, unit tests

#257 Adding libpng support
  CMakeLists.txt
  cmake/find_png.cmake
  src/FileOperation/png_file.cpp
  test/unit_tests/CMakeLists.txt
  test/unit_tests/Makefile
Labels: New feature, Windows, cmake, unit tests

#260 Changed error codes for examples
  examples/bitmap_operation/example_bitmap_operation.cpp
  examples/blob_detection/example_blob_detection.cpp
  examples/cuda/image_function/example_image_function.cpp
  examples/cuda/pinned_memory/pinned_memory.cpp
  examples/filters/example_filters.cpp
  examples/function_pool/example_function_pool.cpp
  examples/image_function/example_image_function.cpp
  examples/opencl/image_function/main.cpp
  examples/qt_framework/qimage_display/main.cpp
  examples/raspicam/main.cpp
  examples/thread_pool/example_thread_pool.cpp
Labels: enhancement

#271 Add CMakeLists.txt files for the examples
  .travis.yml
  CMakeLists.txt
  examples/CMakeLists.txt
  examples/bitmap_operation/CMakeLists.txt
  examples/bitmap_operation/README.md
  examples/blob_detection/CMakeLists.txt
  examples/blob_detection/README.md
  examples/filters/CMakeLists.txt
  examples/filters/README.md
  examples/function_pool/CMakeLists.txt
  examples/function_pool/README.md
  examples/function_pool/example_function_pool.cpp
  examples/image_function/CMakeLists.txt
  examples/image_function/README.md
  examples/opencl/image_function/CMakeLists.txt
  examples/qt_framework/CMakeLists.txt
  examples/qt_framework/qimage_display/CMakeLists.txt
  examples/qt_framework/qimage_display/README.md
  examples/thread_pool/CMakeLists.txt
  examples/thread_pool/README.md
  script/travis/install_qt5.sh
  test/performance_tests/CMakeLists.txt
  test/unit_tests/CMakeLists.txt
Labels: OpenCL, cmake, cuda, documentation, enhancement, gui

#275 Add base classes for image display with QT support
  examples/qt_framework/qimage_display/CMakeLists.txt
  examples/qt_framework/qimage_display/example_qimage_display.pro
  examples/qt_framework/qimage_display/main.cpp
  src/ui/qt/qt_ui.cpp
  src/ui/qt/qt_ui.h
  src/ui/ui.cpp
  src/ui/ui.h
Labels: New feature, gui
