Repository ihhub/penguinV, pull requests merged in 2018-10, with the labels that each got.

#160 CMakifying project
  .travis.yml
  CMakeLists.txt
  appveyor.yml
  test/CMakeLists.txt
  test/performance_tests/CMakeLists.txt
  test/performance_tests/README.md
  test/unit_tests/CMakeLists.txt
  test/unit_tests/README.md
Labels: enhancement, unit test

#169 add avx support for the accumulate function
  src/image_function_simd.cpp
  src/image_function_simd.h
  test/performance_tests/performance_test_image_function.cpp
  test/unit_tests/unit_test_image_function.cpp
Labels: enhancement

#176 add sse support for the accumulate function
  src/image_function_simd.cpp
  test/performance_tests/performance_test_image_function.cpp
  test/unit_tests/unit_test_image_function.cpp
Labels: simd

#181 Fix segfault for blob detection code execution on Linux
  src/math_base.h
Labels: bug

#170 Add OpenCL check in CMake and add cmake files for unit tests
  .travis.yml
  appveyor.yml
  test/unit_tests/CMakeLists.txt
  test/unit_tests/opencl/CMakeLists.txt
  test/unit_tests/opencl/unit_tests_opencl.cpp
Labels: OpenCL, enhancement

#192 Re-enable the build of OpenCL unit tests
  appveyor.yml
  test/unit_tests/CMakeLists.txt
  test/unit_tests/opencl/CMakeLists.txt
Labels: OpenCL, unit tests

#194 Add Hough transform
  examples/blob_detection/README.md
  examples/blob_detection/example_blob_detection.vcxproj
  examples/blob_detection/makefile
  src/blob_detection.cpp
  src/blob_detection.h
  src/math/hough_transform.cpp
  src/math/hough_transform.h
  src/math/math_base.cpp
  src/math/math_base.h
  test/performance_tests/CMakeLists.txt
  test/performance_tests/Makefile
  test/performance_tests/README.md
  test/performance_tests/performance_tests.vcxproj
  test/unit_tests/CMakeLists.txt
  test/unit_tests/Makefile
  test/unit_tests/README.md
  test/unit_tests/unit_test_helper.cpp
  test/unit_tests/unit_test_helper.h
  test/unit_tests/unit_test_math.cpp
  test/unit_tests/unit_test_math.h
  test/unit_tests/unit_tests.cpp
  test/unit_tests/unit_tests.vcxproj
Labels: New feature

#195 Add a separate job in Travis-CI for static analysis
  .travis.yml
  script/travis/before_script.sh
  script/travis/run_script.sh
Labels: Travis-CI

#197 Some fixes for python example in Linux.
  examples/python/bitmap_operation.py
  src/python/penguinV.i
  src/python/setup.py
Labels: Python, enhancement

#210 Fixed dependencies in makefiles in certain examples, issue #209
  examples/bitmap_operation/README.md
  examples/bitmap_operation/makefile
  examples/blob_detection/README.md
  examples/blob_detection/makefile
  examples/image_function/README.md
  examples/image_function/makefile
  examples/thread_pool/README.md
  examples/thread_pool/makefile
Labels: bug, documentation, makefile

#211 Travis must fail on build failure (Issue #204)
  .travis.yml
  script/travis/run_script.sh
Labels: Travis-CI

#218 Removed FunctionRegistrator inheritance from penguinV::FunctionTable
  src/cuda/image_function_cuda.cu
  src/image_function.cpp
  src/image_function_simd.cpp
  src/opencl/image_function_opencl.cpp
Labels: bug

#200 Add Qt Support for Travis CI
  .travis.yml
  CMakeLists.txt
  examples/CMakeLists.txt
  examples/qt_framework/CMakeLists.txt
  examples/qt_framework/qimage_display/CMakeLists.txt
  script/travis/before_script.sh
  script/travis/install_qt5.sh
Labels: QT, Travis-CI, enhancement

#221 Add unit tests for FFT
  src/thirdparty/kissfft/kiss_fft.c
  test/unit_tests/CMakeLists.txt
  test/unit_tests/unit_test_fft.cpp
  test/unit_tests/unit_test_fft.h
  test/unit_tests/unit_test_helper.cpp
  test/unit_tests/unit_test_helper.h
  test/unit_tests/unit_tests.cpp
  test/unit_tests/unit_tests.vcxproj
Labels: unit tests

#230 Bugfixing cppclean output using grep
  .travis.yml
Labels: Travis-CI, bug

#231 Image function restructure
  examples/bitmap_operation/README.md
  examples/bitmap_operation/example_bitmap_operation.vcxproj
  examples/bitmap_operation/makefile
  examples/blob_detection/README.md
  examples/blob_detection/example_blob_detection.vcxproj
  examples/blob_detection/makefile
  examples/cuda/image_function/example_image_function.vcxproj
  examples/image_function/README.md
  examples/image_function/example_image_function.vcxproj
  examples/image_function/makefile
  examples/median_filter/example_median_filter.vcxproj
  examples/opencl/image_function/image_function.vcxproj
  examples/opencl/image_function/makefile
  examples/qt_framework/qimage_display/CMakeLists.txt
  src/cuda/image_function_cuda.cu
  src/image_function.cpp
  src/image_function_helper.cpp
  src/image_function_helper.h
  src/image_function_simd.cpp
  src/opencl/image_function_opencl.cpp
  src/penguinv/penguinv.cpp
  src/penguinv/penguinv.h
  test/performance_tests/cuda/performance_tests_cuda.vcxproj
  test/unit_tests/CMakeLists.txt
  test/unit_tests/cuda/Makefile
  test/unit_tests/cuda/unit_tests_cuda.vcxproj
  test/unit_tests/opencl/CMakeLists.txt
  test/unit_tests/opencl/Makefile
  test/unit_tests/opencl/unit_tests_opencl.vcxproj
Labels: enhancement
