Repository ihhub/penguinV, pull requests merged in 2018-12, with the labels that each got.

#276 Add UI drawing class based on Win32 API
  examples/CMakeLists.txt
  examples/windows/edge_detection/CMakeLists.txt
  examples/windows/edge_detection/example_edge_detection.vcxproj
  examples/windows/edge_detection/main.cpp
  src/ui/ui.h
  src/ui/win/win_ui.cpp
  src/ui/win/win_ui.h
Labels: New feature, Windows, gui

#291 Projection profile neon
  src/image_function_simd.cpp
  test/performance_tests/performance_test_image_function.cpp
  test/unit_tests/unit_test_image_function.cpp
Labels: enhancement, neon

#293 Add Shift function
  src/image_function.cpp
  src/image_function.h
  src/image_function_helper.cpp
  src/image_function_helper.h
  test/unit_tests/unit_test_image_function.cpp
Labels: enhancement

#301 Proper support of 256 color bitmaps
  src/file/bmp_image.cpp
  test/unit_tests/unit_test_bitmap.cpp
Labels: bug

#302 Add light correction class
  src/tool/light_correction.cpp
  src/tool/light_correction.h
Labels: New feature

#307 Move simd control code into helper files
  src/image_function_helper.cpp
  src/image_function_helper.h
  src/image_function_simd.cpp
  src/image_function_simd.h
  test/performance_tests/performance_test_image_function.cpp
  test/unit_tests/unit_test_image_function.cpp
Labels: simd

#303 Issue 277 line representation 2d
  src/math/math_base.h
  test/unit_tests/unit_test_math.cpp
Labels: New feature, math

#316 Travis-CI must fail for examples build
  .travis.yml
Labels: Travis-CI, bug

#311 Hough transform float
  src/math/hough_transform.cpp
  src/math/hough_transform.h
  test/unit_tests/unit_test_helper.cpp
  test/unit_tests/unit_test_helper.h
  test/unit_tests/unit_test_math.cpp
Labels: enhancement, math

#312 Remove duplicated function definitions
  src/image_function_helper.cpp
  src/image_function_helper.h
  test/performance_tests/performance_test_image_function.cpp
  test/unit_tests/unit_test_image_function.cpp
Labels: enhancement
