Repository ihhub/penguinV, pull requests merged in 2019-12, with the labels that each got.

#583 add more condition to enable avx512 compilation
  src/penguinv/cpu_identification.h
Labels: avx

#584 Compilation warning fix
  src/file/raw_image.h
  src/image_function.cpp
Labels: enhancement

#588 Overwriting ctest MemoryCheckCommandOptions
  .travis.yml
Labels: Travis-CI

#590 Pass dynamic analysis always
  .travis.yml
Labels: Travis-CI

#589 AVX-512 code refactoring
  src/image_function_helper.cpp
  src/image_function_simd.cpp
  src/penguinv/cpu_id_unix.h
  src/penguinv/cpu_id_windows.h
  src/penguinv/cpu_identification.h
  test/performance_tests/performance_test_image_function.cpp
  test/unit_tests/unit_test_image_function.cpp
Labels: avx, simd

#512 Issue 497: Add Windows Build in Travis
  .travis.yml
Labels: Travis-CI, Windows, script

#577 Add projection() and opposite() methods to LineBase2D class
  src/math/math_base.h
  test/unit_tests/unit_test_math.cpp
Labels: New feature, math

#591 Fix a corner case for IsBinary() function
  test/unit_tests/unit_test_image_function.cpp
Labels: Travis-CI, bug, unit tests

#595 Remove performance tests from Travis-CI jobs
  .travis.yml
Labels: Travis-CI, bug, script

#593 Fix compilation warnings
  src/math/math_base.h
  src/thirdparty/kissfft/kiss_fft.c
  src/thirdparty/kissfft/kiss_fftnd.c
Labels: enhancement
