Repository ihhub/penguinV, pull requests merged in 2019-09, with the labels that each got.

#528 OpenCL implementation of ProjectionProfile() function
  src/opencl/image_function_opencl.cpp
  src/opencl/image_function_opencl.h
Labels: OpenCL, core, enhancement, gpu

#526 Makefiles for CUDA examples
  examples/cuda/image_function/makefile
  examples/cuda/pinned_memory/makefile
  examples/makefile
Labels: cuda, makefile

#523 Merge BMP and PNG unit test code
  test/unit_tests/CMakeLists.txt
  test/unit_tests/Makefile
  test/unit_tests/unit_test_bitmap.cpp
  test/unit_tests/unit_test_bitmap.h
  test/unit_tests/unit_test_file.cpp
  test/unit_tests/unit_test_file.h
  test/unit_tests/unit_test_png.cpp
  test/unit_tests/unit_test_png.h
  test/unit_tests/unit_tests.cpp
  test/unit_tests/unit_tests.vcxproj
Labels: unit tests

#529 Do not run png unit tests if PNG support is disabled
  test/unit_tests/unit_test_file.cpp
Labels: bug, unit tests

#530 Add muiltithreaded implementation of Merge function
  src/function_pool.cpp
  src/function_pool.h
  test/unit_tests/unit_test_image_function.cpp
Labels: Multithreading, core, enhancement

#531 Add RgbToRgba and RgbaToRgb
  src/image_function.cpp
  src/image_function.h
  src/image_function_helper.cpp
  src/image_function_helper.h
  src/parameter_validation.h
  test/test_helper.cpp
  test/test_helper.h
  test/unit_tests/unit_test_image_function.cpp
Labels: New feature, core, unit tests

#532 Fix Hough transform unit tests
  test/unit_tests/unit_test_math.cpp
Labels: bug, unit tests

#521 AVX implementation of ConvertTo8Bit() function
  src/image_function_simd.cpp
  test/unit_tests/unit_test_image_function.cpp
Labels: avx, enhancement, simd

#525 Refactor parameter validation to variadic template
  src/parameter_validation.h
Labels: enhancement

#533 Fix missing Prewitt (form 3) unit test
  src/filtering.cpp
  test/unit_tests/unit_test_image_function.cpp
Labels: bug, core, unit tests

#534 Add missing information into API description
  doc/API_description.md
Labels: documentation

#535 Add performance tests fo edge detection
  src/cuda/image_buffer_cuda.cuh
  src/cuda/image_buffer_cuda_pinned.cuh
  src/image_buffer.h
  src/opencl/image_buffer_opencl.h
  test/performance_tests/CMakeLists.txt
  test/performance_tests/Makefile
  test/performance_tests/performance_test_edge_detection.cpp
  test/performance_tests/performance_test_edge_detection.h
  test/performance_tests/performance_tests.cpp
  test/performance_tests/performance_tests.vcxproj
  test/test_helper.cpp
  test/test_helper.h
  test/unit_tests/unit_test_helper.cpp
  test/unit_tests/unit_test_helper.h
Labels: core, performance tests

#537 Add API description for shift function
  doc/API_description.md
Labels: documentation

#542 Rename test names to format FunctionNameFormYTest
  test/unit_tests/cuda/unit_test_image_function_cuda.cpp
Labels: cuda, enhancement, unit tests

#536 Add all forms of Flip function for CUDA
  src/cuda/image_function_cuda.cu
  src/cuda/image_function_cuda.cuh
  test/unit_tests/cuda/unit_test_helper_cuda.cu
  test/unit_tests/cuda/unit_test_helper_cuda.cuh
  test/unit_tests/cuda/unit_test_image_function_cuda.cpp
  test/unit_tests/unit_test_image_function.cpp
Labels: core, cuda, unit tests
