Repository ihhub/penguinV, pull requests merged in 2019-02, with the labels that each got.

#374 Build Python Module on Appveyor with Python 2.7
  appveyor.yml
Labels: AppVeyor, Python, enhancement

#377 Add MinGW compiler support
  src/penguinv/cpu_identification.h
Labels: Windows, bug

#381 Add OpenCL performance tests
  appveyor.yml
  test/performance_tests/CMakeLists.txt
  test/performance_tests/opencl/CMakeLists.txt
  test/performance_tests/opencl/Makefile
  test/performance_tests/opencl/performance_test_helper_opencl.cpp
  test/performance_tests/opencl/performance_test_helper_opencl.h
  test/performance_tests/opencl/performance_test_image_function_opencl.cpp
  test/performance_tests/opencl/performance_test_image_function_opencl.h
  test/performance_tests/opencl/performance_tests_opencl.cpp
  test/performance_tests/opencl/performance_tests_opencl.vcxproj
Labels: OpenCL, performance tests

#378 Add oval and rectangle drawing support for UI Window Qt class
  src/ui/qt/qt_ui.cpp
  src/ui/qt/qt_ui.h
  src/ui/ui.cpp
  src/ui/ui.h
Labels: enhancement, gui

#383 Add Format Step into Build Pipeline
  .travis.yml
  script/check_code_format.sh
Labels: New feature, Travis-CI

#384 Add OpenCL Normalize function and CPU support
  src/opencl/image_function_opencl.cpp
  src/opencl/image_function_opencl.h
  src/opencl/opencl_device.cpp
  src/opencl/opencl_device.h
Labels: New feature, OpenCL

#387 SSE implementation of Flip function
  src/image_function_simd.cpp
  src/image_function_simd.h
  test/performance_tests/performance_test_image_function.cpp
  test/unit_tests/unit_test_image_function.cpp
Labels: enhancement, simd, sse

#386 Add oval and rectangle drawing support for Win32 API based UI Window Class
  examples/windows/edge_detection/main.cpp
  src/ui/win/win_ui.cpp
  src/ui/win/win_ui.h
Labels: New feature, Windows, gui

#390 NEON implementation of Flip function
  src/image_function_simd.cpp
  test/performance_tests/performance_test_image_function.cpp
  test/unit_tests/unit_test_image_function.cpp
Labels: core, enhancement, neon, simd

#388 Testing on Code-Style Branch
  .clang-format
  script/check_code_format.sh
Labels: New feature, Travis-CI

#392 Processing acceleration of full row ROI
  src/image_function_simd.cpp
Labels: avx, enhancement, neon, simd, sse

#395 Add Format Step into Build Pipeline
  .clang-format
  .travis.yml
  script/check_code_format.sh
Labels: New feature, Travis-CI
