Repository ihhub/penguinV, pull requests merged in 2019-03, with the labels that each got.

#396 Add base OpenCL types support
  .clang-format
  src/opencl/image_function_opencl.cpp
  src/opencl/opencl_types.h
  test/unit_tests/opencl/unit_test_helper_opencl.cpp
Labels: New feature, OpenCL

#400 Processing acceleration for full width ROI
  src/image_function.cpp
  src/image_function_simd.cpp
  src/parameter_validation.h
Labels: core, enhancement

#401 Add a few links to README for better user experience
  README.md
Labels: documentation, enhancement

#402 Fix compilation warnings
  examples/function_pool/example_function_pool.cpp
  examples/thread_pool/example_thread_pool.cpp
  src/edge_detection.cpp
  src/file/png_image.cpp
  src/image_function.cpp
  src/image_function_simd.cpp
  src/opencl/opencl_device.cpp
  test/unit_tests/unit_test_image_buffer.cpp
  test/unit_tests/unit_test_image_function.cpp
Labels: enhancement

#404 [Issue #356] Moved specific script parts to related environments
  .travis.yml
Labels: Travis-CI, enhancement, script

#407 Issue 166 cmake cuda support
  .travis.yml
  CMakeLists.txt
  script/appveyor/cuda_install.cmd
  test/performance_tests/CMakeLists.txt
  test/performance_tests/cuda/CMakeLists.txt
  test/unit_tests/CMakeLists.txt
  test/unit_tests/cuda/CMakeLists.txt
Labels: cmake, cuda, script

#409 Add Heterogeneous computing support
  data/lena.bmp
  data/mercury.bmp
  data/qt-logo.bmp
  examples/CMakeLists.txt
  examples/bitmap_operation/example_bitmap_operation.cpp
  examples/blob_detection/example_blob_detection.cpp
  examples/cuda/image_function/example_image_function.cpp
  examples/cuda/pinned_memory/pinned_memory.cpp
  examples/filters/example_filters.cpp
  examples/function_pool/example_function_pool.cpp
  examples/makefile
  examples/opencl/image_function/main.cpp
  examples/qt_framework/qimage_display/main.cpp
  examples/thread_pool/CMakeLists.txt
  examples/thread_pool/README.md
  examples/thread_pool/example_thread_pool.cpp
  examples/thread_pool/example_thread_pool.vcxproj
  examples/thread_pool/makefile
  examples/windows/edge_detection/main.cpp
  src/cuda/image_function_cuda.cu
  src/cuda/image_function_cuda.cuh
  src/image_buffer.h
  src/image_exception.h
  src/image_function.cpp
  src/image_function_helper.cpp
  src/image_function_helper.h
  src/image_function_simd.cpp
  src/opencl/image_function_opencl.cpp
  src/opencl/image_function_opencl.h
  src/opencl/opencl_helper.cpp
  src/penguinv/penguinv.cpp
Labels: New feature, enhancement

#410 Readme changes
  README.md
  data/readme/1_original.png
  data/readme/2_red_channel.png
  data/readme/3_red_threshold.png
  data/readme/4_blob.png
  data/readme/5_logical_and.png
  data/readme/6_result.png
  examples/cuda/image_function/example_image_function.cpp
  src/cuda/image_function_cuda.cu
  src/image_function_helper.cpp
Labels: cuda, documentation, enhancement, gpu
