Repository ihhub/penguinV, pull requests merged in 2019-08, with the labels that each got.

#514 Fix makefile for unit tests (lpng and ljpeg flags)
  test/unit_tests/Makefile
Labels: bug, makefile

#516 Remove duplicated code for Gaussian kernel creation
  src/cuda/filtering_cuda.cu
Labels: cuda, enhancement

#515 Fix race condition in OpenCL code
  src/opencl/image_function_opencl.cpp
  src/opencl/opencl_device.cpp
Labels: OpenCL, bug

#517 Use memory allocator instead of default memory allocation for FFT
  src/fft.cpp
Labels: core, enhancement

#518 Optimise blob detection code by using image class instead of std::vector
  src/blob_detection.cpp
Labels: core, enhancement

#520 implement convertTo8bit for neon
  src/image_function_simd.cpp
  test/unit_tests/unit_test_image_function.cpp
Labels: enhancement, neon, simd

#519 implement ConvertTo16Bit function for neon
  src/image_function_simd.cpp
  test/unit_tests/unit_test_image_function.cpp
Labels: enhancement, neon, simd

#522 Makefile for CUDA performance tests (WIP #144)
  test/performance_tests/cuda/Makefile
Labels: cuda, makefile

#524 Modify old third-party paths in makefile of CUDA unit tests
  test/unit_tests/cuda/Makefile
Labels: bug, makefile
