Repository ihhub/penguinV, pull requests merged in 2019-01, with the labels that each got.

#323 CMake Support of libjpeg
  .travis.yml
  cmake/find_jpeg.cmake
  test/unit_tests/CMakeLists.txt
  test/unit_tests/Makefile
Labels: New feature

#330 Add function to find line based on points
  src/math/math_base.h
Labels: New feature, math

#336 Add unit tests for RgbToBgr function
  test/unit_tests/unit_test_helper.cpp
  test/unit_tests/unit_test_helper.h
  test/unit_tests/unit_test_image_function.cpp
Labels: unit tests

#334 SSE implementation of RgbToBgr() function
  src/image_function_simd.cpp
  src/image_function_simd.h
  test/performance_tests/performance_test_image_function.cpp
  test/unit_tests/unit_test_image_function.cpp
Labels: enhancement, simd, sse

#339 NEON implementation of RgbToBgr() function
  src/image_function_simd.cpp
  test/performance_tests/performance_test_image_function.cpp
  test/unit_tests/unit_test_image_function.cpp
Labels: enhancement, neon, simd

#325 Histogram calculation with mask
  src/image_function.cpp
  src/image_function.h
  src/image_function_helper.cpp
  src/image_function_helper.h
  test/unit_tests/unit_test_image_function.cpp
Labels: New feature, core

#342 SSE implementation of ConvertToRgb function
  src/image_function_simd.cpp
  src/image_function_simd.h
  test/performance_tests/performance_test_image_function.cpp
  test/unit_tests/unit_test_image_function.cpp
Labels: enhancement, simd, sse

#343 Remove duplicate code in tests
  test/performance_tests/CMakeLists.txt
  test/performance_tests/cuda/performance_tests_cuda.vcxproj
  test/performance_tests/performance_test_blob_detection.cpp
  test/performance_tests/performance_test_filtering.cpp
  test/performance_tests/performance_test_helper.cpp
  test/performance_tests/performance_test_helper.h
  test/performance_tests/performance_tests.vcxproj
  test/test_helper.cpp
  test/test_helper.h
  test/unit_tests/CMakeLists.txt
  test/unit_tests/cuda/Makefile
  test/unit_tests/cuda/unit_test_image_function_cuda.cpp
  test/unit_tests/cuda/unit_tests_cuda.vcxproj
  test/unit_tests/opencl/CMakeLists.txt
  test/unit_tests/opencl/unit_test_image_function_opencl.cpp
  test/unit_tests/opencl/unit_tests_opencl.vcxproj
  test/unit_tests/unit_test_helper.cpp
  test/unit_tests/unit_test_helper.h
  test/unit_tests/unit_tests.vcxproj
Labels: enhancement, performance tests, unit tests

#344 Build Python Module on Appveyor
  appveyor.yml
  src/python/penguinV.i
Labels: AppVeyor, Python

#345 Add command line argument for performance and unit tests
  test/performance_tests/cuda/performance_tests_cuda.cpp
  test/performance_tests/performance_test_helper.cpp
  test/performance_tests/performance_test_helper.h
  test/performance_tests/performance_tests.cpp
  test/test_helper.cpp
  test/test_helper.h
  test/unit_tests/cuda/unit_tests_cuda.cpp
  test/unit_tests/opencl/unit_tests_opencl.cpp
  test/unit_tests/unit_test_helper.cpp
  test/unit_tests/unit_test_helper.h
  test/unit_tests/unit_tests.cpp
Labels: enhancement, performance tests, unit tests

#351 neon implementation of ConvertToRgb function
  src/image_function_simd.cpp
  test/performance_tests/Makefile
  test/performance_tests/performance_test_image_function.cpp
  test/unit_tests/Makefile
  test/unit_tests/unit_test_image_function.cpp
Labels: neon, simd

#353 Build Python Module on TravisCI
  .travis.yml
Labels: New feature, Python, Travis-CI

#352 AVX implementation of RgbToBgr() function
  src/image_function_simd.cpp
  test/performance_tests/performance_test_image_function.cpp
  test/unit_tests/unit_test_image_function.cpp
Labels: avx, simd

#361 Add missing function registration for ConvertToRgb SIMD function
  src/image_function_simd.cpp
Labels: Multithreading
