Repository ihhub/penguinV, pull requests merged in 2019-07, with the labels that each got.

#505 Cuda implementation of IsEqual() function
  src/cuda/image_function_cuda.cu
  src/cuda/image_function_cuda.cuh
Labels: cuda, enhancement, gpu

#511 Fix makefile for "file_operation" example
  examples/file_operation/makefile
Labels: bug, makefile

#513 Fix multiple optimisation issues
  src/cuda/cuda_device.cuh
  src/cuda/cuda_memory.cuh
  src/cuda/cuda_types.cuh
  src/cuda/image_buffer_cuda.cuh
  src/fft.cpp
  src/filtering.cpp
  src/memory/cpu_memory.h
  src/opencl/opencl_memory.h
  test/test_helper.h
  test/unit_tests/cuda/unit_test_helper_cuda.cuh
Labels: core, enhancement
