Repository ihhub/penguinV, pull requests merged in 2019-11, with the labels that each got.

#571 Add ARM64 support to Travis-CI
  .travis.yml
  src/penguinv/cpu_id_unix.h
  src/penguinv/cpu_identification.h
Labels: New feature, Travis-CI, enhancement, neon

#572 Build time reduction for all builds on servers
  .travis.yml
  appveyor.yml
  test/test_helper.cpp
  test/unit_tests/unit_tests.cpp
Labels: AppVeyor, Travis-CI

#574 Set unit test count to 1000 for cron job only
  .travis.yml
Labels: Travis-CI

#575 Set unit test count to 500 for scheduled jobs in Appveyor
  appveyor.yml
Labels: AppVeyor

#570 BitwiseXor, ConvertTo16Bit, ConvertTo8Bit implementation for AVX512
  src/image_function_simd.cpp
  test/performance_tests/performance_test_image_function.cpp
  test/unit_tests/unit_test_image_function.cpp
Labels: avx, simd

#576 Add CUDA ProjectionProfile Implementation
  src/cuda/image_function_cuda.cu
  src/cuda/image_function_cuda.cuh
Labels: cuda

#560 Add unit tests for IsBinary() function
  test/unit_tests/unit_test_image_function.cpp
Labels: unit tests

#578 Add Invert, Maximum, Minimum functions for AVX512
  src/image_function_simd.cpp
  test/performance_tests/performance_test_image_function.cpp
  test/unit_tests/unit_test_image_function.cpp
Labels: avx, simd

#581 [CUDA] ProjectionProfile unit test
  test/unit_tests/cuda/unit_test_image_function_cuda.cpp
Labels: cuda, unit tests
