Repository ihhub/penguinV, pull requests merged in 2019-10, with the labels that each got.

#551 Added support in LookupTable() for CUDA to support color images (#546)
  src/cuda/image_function_cuda.cu
Labels: core, cuda, enhancement, gpu

#553 Modify verifyImage function and add offset computation
  test/unit_tests/opencl/unit_test_helper_opencl.cpp
  test/unit_tests/opencl/unit_test_helper_opencl.h
Labels: OpenCL, enhancement, gpu, unit tests

#555 Move existing duplicated code from GammaCorrection() into on function
  src/cuda/image_function_cuda.cu
  src/image_function.cpp
  src/image_function_helper.cpp
  src/image_function_helper.h
  src/opencl/image_function_opencl.cpp
Labels: OpenCL, core, cuda, enhancement

#557 Modify Histogram() function to support color images
  src/image_function.cpp
Labels: core, enhancement

#556 Cuda implementation of SetPixel() function
  src/cuda/image_function_cuda.cu
  src/cuda/image_function_cuda.cuh
  test/unit_tests/cuda/unit_test_image_function_cuda.cpp
Labels: core, cuda

#559 Added support for color images into OpenCL LookupTable() function (#547)
  src/opencl/image_function_opencl.cpp
Labels: OpenCL, enhancement

#561 Useful .gitignore additions
  .gitignore
Labels: script

#541 Add compilation for CUDA FFT
  script/appveyor/cuda_install.cmd
  script/travis/install_cuda.sh
  src/cuda/cuda_fft.cu
  src/cuda/cuda_fft.cuh
  test/unit_tests/cuda/CMakeLists.txt
  test/unit_tests/cuda/Makefile
  test/unit_tests/cuda/unit_tests_cuda.vcxproj
Labels: cmake, cuda, makefile, unit tests

#564 Add raw file support
  src/file/raw_image.h
  test/unit_tests/unit_test_file.cpp
Labels: New feature, core

#563 Support AVX512_BW
  src/image_function_helper.cpp
  src/image_function_helper.h
  src/image_function_simd.cpp
  src/penguinv/cpu_id_unix.h
  src/penguinv/cpu_id_windows.h
  src/penguinv/cpu_identification.h
  test/performance_tests/performance_test_image_function.cpp
  test/unit_tests/unit_test_image_function.cpp
Labels: New feature, avx, core

#558 Initial commit on adding OpenCL SetPixel
  src/opencl/image_function_opencl.cpp
  src/opencl/image_function_opencl.h
Labels: OpenCL, core, enhancement, gpu

#562 OpenCL implementation of IsEqual() function
  src/opencl/image_function_opencl.cpp
  src/opencl/image_function_opencl.h
Labels: OpenCL, core

#568 Accumulate, BitwiseAnd and BitwiseOr implementation
  src/image_function_simd.cpp
  test/performance_tests/performance_test_image_function.cpp
  test/unit_tests/unit_test_image_function.cpp
Labels: avx, simd
