Repository ihhub/penguinV, pull requests merged in 2020-01, with the labels that each got.

#597 Add full CPU support for OpenCL
  src/opencl/opencl_device.cpp
  src/opencl/opencl_device.h
  src/opencl/opencl_helper.cpp
  src/opencl/opencl_helper.h
  src/opencl/opencl_memory.h
Labels: OpenCL, enhancement

#598 Multiple fixes for SIMD code
  src/image_function.cpp
  src/image_function_simd.cpp
Labels: enhancement, neon

#603 README example correction and JPEG support preparations
  README.md
  src/file/file_image.cpp
  src/file/jpeg_image.cpp
  src/image_buffer.h
  test/unit_tests/CMakeLists.txt
  test/unit_tests/Makefile
  test/unit_tests/unit_test_file.cpp
  test/unit_tests/unit_tests.vcxproj
Labels: core, enhancement, unit tests

#606 Jpeg load function support
  src/file/jpeg_image.cpp
Labels: enhancement

#607 Add full support of JPEG files
  src/file/jpeg_image.cpp
  src/file/jpeg_image.h
  test/unit_tests/unit_test_file.cpp
Labels: New feature, enhancement, unit tests

#610 Add human readable job names
  .travis.yml
Labels: Travis-CI, enhancement, script

#612 Rename CRITERION to BY for BlobDetection enumeration
  examples/blob_detection/example_blob_detection.cpp
  examples/qt_framework/qimage_display/main.cpp
  examples/raspicam/main.cpp
  src/blob_detection.cpp
  src/blob_detection.h
Labels: core, enhancement

#613 Flip() function implementation in function pool
  src/function_pool.cpp
  src/function_pool.h
  test/performance_tests/performance_test_image_function.cpp
  test/unit_tests/unit_test_image_function.cpp
Labels: Multithreading, core, performance tests, unit tests

#614 Implementation of Transpose function in function pool
  src/function_pool.cpp
  src/function_pool.h
  src/function_pool_task.cpp
  src/function_pool_task.h
  test/performance_tests/performance_test_image_function.cpp
  test/unit_tests/unit_test_image_function.cpp
Labels: Multithreading, core, performance tests, unit tests

#617 Speeding up ARM and Python compilation
  .travis.yml
  examples/file_operation/makefile
  test/unit_tests/Makefile
Labels: Travis-CI, enhancement, makefile, script

#618 Set multicore compilation from CMake
  .travis.yml
Labels: Travis-CI, enhancement, script

#619 Fix compilation warnings
  src/file/file_image.cpp
  src/file/jpeg_image.cpp
Labels: enhancement

#621 Review package installation on Travis-CI
  .travis.yml
  examples/python/bitmap_operation.py
Labels: Travis-CI, enhancement, script

#623 Remove VS duplication for Python
  appveyor.yml
Labels: AppVeyor, Windows, enhancement

#625 Try to add cache to AppVeyor
  appveyor.yml
Labels: AppVeyor, enhancement, script

#630 Remove yasm from Travis package installation
  .travis.yml
Labels: Linux, Travis-CI, enhancement

#629 Cache YASM for CMake speedup
  appveyor.yml
  cmake/find_jpeg.cmake
Labels: AppVeyor, Windows, enhancement

#592 AVX-512 implementation for ProjectionProfile, Sum and Subtract
  src/image_function_simd.cpp
  test/performance_tests/performance_test_image_function.cpp
  test/unit_tests/unit_test_image_function.cpp
Labels: avx, simd

#635 Cache CUDA installation for AppVeyor
  appveyor.yml
Labels: AppVeyor, Windows, enhancement

#636 Add missing code for SIMD functions
  src/image_function_simd.cpp
Labels: avx, bug, core

#637 Cache zlib for Appveyor
  cmake/find_png.cmake
Labels: AppVeyor, cmake

#638 Cache JPEG for Appveyor
  cmake/find_jpeg.cmake
Labels: AppVeyor, cmake, enhancement

#639 Cache PNG for AppVeyor
  cmake/find_png.cmake
Labels: AppVeyor, cmake, enhancement

#640 Code cleanup for Python example
  examples/python/bitmap_operation.py
Labels: Python, enhancement

#641 Remove extra condition for Threshold AVX function
  src/image_function_simd.cpp
Labels: avx, core, enhancement

#642 Remove QT installation for OSX
  .travis.yml
Labels: Travis-CI, macOS

#643 Small code optimisation
  src/file/bmp_image.cpp
  src/image_function.cpp
Labels: core, enhancement

#645 Add an extra constructor for easier usage of FFT class
  src/fft.cpp
  src/fft.h
Labels: enhancement

#646 Set default clone depth to 50 in AppVeyor
  appveyor.yml
Labels: AppVeyor, enhancement, script

#648 Fix some code quality issues
  examples/file_operation/CMakeLists.txt
  src/fft.cpp
  src/file/raw_image.h
Labels: enhancement

#649 Clone only last 50 commits of cppclean
  .travis.yml
Labels: Travis-CI, enhancement

#650 Remove library search for the example
  examples/file_operation/CMakeLists.txt
Labels: bug, cmake
